---
layout: default
---

<div class="posts">
    {% for post in site.posts %}
    <article class="post">

        <div class=" cardFW">
            <div class="card_title">
                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            </div>
            <div class="card_body">
                <div class="entry">
                    {{ post.excerpt }}
                </div>

                <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>

            </div>
        </div>
    </article>
    {% endfor %}
</div>