---
layout: page
title: Contact
permalink: /get-started/
---


<form action="#" method="post" id="contact_form">
    <div class="name">
        <label for="name_input"></label>
        <input type="text" placeholder="Name" name="name" id="name_input" required>
    </div>
    <div class="email">
        <label for="email_input"></label>
        <input type="email" placeholder="Email" name="email" id="email_input" required>
    </div>
    <div class="telephone">
        <label for="telephone_input"></label>
        <input type="text" placeholder="Phone number" name="telephone" id="telephone_input" required>
    </div>
    <div class="company">
        <label for="company_input"></label>
        <input type="text"  placeholder="Company" name="company" id="company_input" required>
    </div>

    <div class="submit">
        <input type="submit" value="Send Message" id="form_button" />
    </div>

</form><!-- // End form -->
