---
layout: default
title: Home
permalink: /
---


<div class="cards-list">
    {% include theProblem.html %}

    {% include consequences.html %}

    {% include utopia.html %}

    {% include enabler.html %}
</div>


<div class="cards-list white">

    {% include rayvn.html %}

    {% include theProduct.html %}

        {% include obsolescence.html %}


</div>

