---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  //background: #0F0F0F;
  font: 18px/1.4 $helvetica;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
}

#main {
  padding: 0 10px 0 10px;
}

hr {
  margin-top: 25px;
  margin-bottom: 25px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;

  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
  cursor: pointer;

  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}

::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 30px;
}

$bgImage0: '{{ site.baseurl }}/images/-000.png';
.masthead {
  padding: 20px;
  border-bottom: 1px solid $lightGray;

  background-image: url($bgImage0);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {

  display: block;
  float: none;
  width: 108px;
  height: 108px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  //margin: 43px 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 1px;
  display: block;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $darkGray;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  //margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

footer {
  padding: 20px 0;
  text-align: center;
}

.row {
  display: flex;
}

.column-slim {
  flex: 35%;
  width: 250px;
  margin: 0 0 0 25px;
}

.column-slim-icon {
  flex: 0%;
  width: 80px;
  margin: 0 0 0 25px;
}


.column {
  flex: 50%;
  width: 300px;
  margin: 0 0 0 25px;
}

.columnWide {
  flex: 50%;
  width: 800px;
  margin: 0 0 0 25px;
}

.columnImage {
  flex: 35%;
}

.columnHeader {
  flex: 65%;
}


.columnImage img {
  height: 90px;
  width: 90px;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
  .container {
    max-width: 100%;
  }
}


button, input, select, textarea {
  color: #000;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

input[type='text'], [type='email'], select, textarea {
  background: none;
  border: 2px solid #000;
  color: #000;
  font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 1.875em;
  padding: 0.875em;
  border-radius: 5px;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
  border: 4px solid $blue;
  padding: 0.875em;
  border-radius: 5px;
}


::-webkit-input-placeholder {
  color: #000;
}

:-moz-placeholder {
  color: #000;
  opacity: 1;
}

::-moz-placeholder {
  color: #000;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #000;
}

#form_button {
  border: 2px solid $blue;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-size: 0.875em;
  font-weight: bold;
  padding: 20px 35px;
  border-radius: 5px;
}

#form_button:hover {
  color: $blue;
  border-radius: 5px;
}

.submit {
  margin-left: 90px;
}


.image {
  position: relative;
  display: flex;

  align-items: center;
  width: 100%; /* for IE 6 */
  min-height: 375px;
  // margin-top: 30px;

}

$bgImage3: '{{ site.baseurl }}/images/-003.png';
.image .imageImg {
  background-image: url($bgImage3);
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 15px;
  margin: 0 auto 0 auto;
}

$bgImage4: '{{ site.baseurl }}/images/-004.png';
.image .imageImg4 {
  background-image: url($bgImage4);
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 15px;
  margin: 0 auto 0 auto;
}

.image .imageContent {
  display: inline-block;
  position: absolute;
  //top: 75px;
  left: 0;

  color: white;
  letter-spacing: 1px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  min-width: 280px;
  max-width: 375px;
  margin-left: 70px;
  border-left-width: 20px;
  border-left-style: solid;
  padding: 20px;
  border-radius: 15px;
  font-weight: bold;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.15), -5px -5px 30px 7px rgba(0, 0, 0, 0.12);

}

.image .utopia {
  background: rgba(0, 151, 205, 0.9);
}

.image .imageContent h1 {
  color: white;
  font: $helveticaNeue;
  letter-spacing: -1px;
}




// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
@import "_sass/cards";
@import "variables";

