---
layout: default
title: Vision
permalink: /vision/
---
<div class="cards-list">
    <div class="card_clear">
        <div class="card_title">
            Our Mission
        </div>

        <div class="card_body">
            We are on a mission to change the way financial institutions communicate and connect. We envision a world
            where
            FIs won't be limited by their infrastructure to offer customers innovative and competitive products. We
            imagine
            Rayvn to the 'intel' of all financial messages in the world!
        </div>
    </div>


    <div class="card_clear">
        <div class="card_title">
            Our Story
        </div>

        <div class="card_body">
            Formed in 2020, our founders, frustrated by the limiting nature of the infrastructure in the financial
            services
            industry and friction it creates for participants to innovate, decided to come together to offer an
            alternative.
            And the idea of Rayvn was born: to provide global connectivity to financial institutions by leveraging the
            power
            of
            ISO20022 and enable them to mine deep data and create innovative product sets.
        </div>
    </div>


    <div class="card_clear">

        <div class="card_title">
            <p>Our Experience</p>
        </div>
        <div class="card_body">
            The founding team has more than 90 years of Fintech, Banking and Technology experience amongst them and have
            taken multiple start-ups and projects from inception to scale.

        </div>
    </div>


    <div class="card">
        <div class="card_image">
            <img src="{{ site.baseurl }}/images/Picture2.webp" alt="Picture 2.png" style="height:340px;width: 300px;">
        </div>
    </div>
    <div class="card">
        <div class="card_image">
            <img src="{{ site.baseurl }}/images/Picture3.webp" alt="Picture 3.png" style="height:340px;width: 300px;">
        </div>
    </div>
    <div class="card">
        <div class="card_image">
            <img src="{{ site.baseurl }}/images/Picture1.webp" alt="Picture 1.png" style="height:340px;width: 300px;">
        </div>
    </div>


</div>