<h2>
    Are You Ready to Experience the Innovation?
</h2>

<div class="row">
    <div class="column">
        <p>
            <span >
                So what are you waiting for, accelerate your business through the power of interoperability and data:
            </span>
        </p>
        <ul>
            <li>Create Single, structured data standard using ISO20022 </li>
            <li>Removes need to manage multiple data protocols</li>
            <li>Get deeper customer analytics and insights through data lake and single customer view</li>
            <li>Offer true interoperability among channels, payment schemes, business processes</li>
            <li>Convert and connect to blockchain</li>
            <li>Reduce cost of payment processing</li>
            <li>Use of AI/ML to automate business processes</li>
            <li>Create new products</li>
        </ul>


          <p>
                <span >
                        <a href="{{ site.baseurl }}/vision" class="ghost-button-rounded-corners"  >
                          <span>Learn More</span>
                        </a>
                </span>
          </p>
    </div>
</div>