<div class="card 8 text_only ">
    <div class="card_title blue" >
        <p>Consequence 1</p>
    </div>
    <hr />
    <div class="card_body">
        Using and staying up-to-date
        with multiple data messaging
        protocols is risky and
        inefficient
    </div>
</div>

<div class="card 9 text_only">
    <div class="card_title blue">
        <p>Consequence 2</p>
    </div>
    <hr />
    <div class="card_body">
        Inability to interoperate
        limits ability to understand
        customer behaviour,
        innovate and scale
    </div>
</div>

<div class="card 10 text_only">
    <div class="card_title blue">
        <p>Consequence 3</p>
    </div>
    <hr />
    <div class="card_body">
        Introduction of new
        messaging protocols is
        expensive and adds yet
        more complexity
    </div>
</div>