<div class="card 8 text_only ">
    <div class="card_title blue" >
        <p>Enabler 1</p>
    </div>
    <hr />
    <div class="card_body">
        Single messaging data
        protocol that is structured
        and interoperable
    </div>
</div>

<div class="card 9 text_only">
    <div class="card_title blue">
        <p>Enabler 2</p>
    </div>
    <hr />
    <div class="card_body">
        Unified data lake and single
        customer view that provides
        rich insights
    </div>
</div>

<div class="card 10 text_only">
    <div class="card_title blue">
        <p>Enabler 3</p>
    </div>
    <hr />
    <div class="card_body">
        Easy and fast access to new
        technologies and protocols
        (like blockchain)
    </div>
</div>
<div class="card_clear" style="text-align: center; padding-top: 45px;">
    <div class="card_image"><img src="{{ site.baseurl }}/images/Rayvn.Logo.png"></div>
    <div class="card_body" style="text-align: unset;">
        With this in mind, we have
        created Rayvn
    </div>
</div>
<div class="card_clear"> </div>