<div class="card 1">
    <div class="card_image"> <img src="{{ site.baseurl }}/images/mesh.png" /> </div>
    <div class="card_title">
        <p> Connect to De-Fi </p>
    </div>
    <div class="card_body">
        Innovate using new technologies like blockchain/smart contracts without changing your tech stack
    </div>
</div>

<div class="card 2">
    <div class="card_image">
        <img src="{{ site.baseurl }}/images/db.png" />
    </div>
    <div class="card_title">
        <p>Unify Data</p>
    </div>
    <div class="card_body">
        Understand your customer better through a single customer view including data from both within the platform
        and external sources
    </div>
</div>

<div class="card 3">
    <div class="card_image">
        <img src="{{ site.baseurl }}/images/interop.png" />
    </div>
    <div class="card_title">
        <p>Interoperate</p>
    </div>
    <div class="card_body">
        Explore alternate business models and offer new products through fully interoperable payment types, open/closed loops and business processes
    </div>
</div>

<div class="card 4">
    <div class="card_image" style="margin-top: -30px;">
        <img src="{{ site.baseurl }}/images/stack.png" />
    </div>
    <div class="card_title" style="padding: 5px 15px 5px 15px; margin-top: -10px;">
        <p>Comply & Automate</p>
    </div>
    <div class="card_body">
        Achieve regulatory compliance through ISO20022 and reduce costs by increasing straight through processing and using AI to automate back office processes
    </div>
</div>



<div class="card_clear">
    <div class="card_title">Let Data Accelerate Innovation, Growth and Scale</div>
    <div class="card_body">
        Using our single, ISO20022 driven financial messaging gateway and unified data lake, unlock new products, streamline operational processes and discover new business models
    </div>
</div>