<style>
    @import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

    .topCell h1 {
        font-family: 'Rock Salt', cursive;
        font-size: 80px !important; 
        margin-top: 30px;
        margin-bottom: 0;
    }


    .blueCell {
        color: white;
        background-color: #0097CD;
        padding-left: 55px;
        padding-right: 55px;
        width: auto;
    }

    .black{
        color: black;
    }

    .obsCell {
        margin: 0;
    }

    .obsCell img {
        width: 30%;
        height: 6px;
    }

    .obsCell h1 {
        font-size: 45px;
    }

    .blueCell * {
        color: white;
    }

    .blackCell * {
        color: white;
        background-color: #000;
    }

    .blackCell {
        color: white;
        background-color: #000;
        padding-left: 30px;
        width: auto;
    }

</style>

<div class="row">
    <div class="column obsCell topCell blueCell">
        <h1>Timing</h1>
    </div>
    <div class="column obsCell blackCell">
        <h1>Disruption</h1>

        <img src="{{ site.baseurl }}/images/chalkLineW.png">
        <p>FIs need to adapt to new business models like BNPL and
            technologies like blockchain to stay relevant!
        </p>
        <p>
            <span class="black">
            (the global BNPL market is currently estimated at $2Tr
            and the total volume locked in the De-Fi sector was
            above $13 billion in 2020, 2,000% growth since 2019)
                </span>
        </p>
    </div>
</div>
<div class="row">
    <div class="column obsCell blueCell ">
        <h1>Obsolescence</h1>
        <img src="{{ site.baseurl }}/images/chalkLine.png">
        <p>FIs need to improve their proposition and reduce
            cost and complexity of their legacy infrastructure
            to prevent being overtaken by new entrants!
        </p>
        <p>
            (the global fintech market is predicted annual
            growth rate of ~25% until 2022, to $309.98Bn)
        </p>
    </div>
    <div class="column obsCell blackCell">
        <h1>Compliance</h1>

        <img src="{{ site.baseurl }}/images/chalkLineW.png">
        <p>FIs need to adapt to new business models like BNPL and
            technologies like blockchain to stay relevant!
        </p>
        <p class="blue">
            (the global BNPL market is currently estimated at $2Tr
            and the total volume locked in the De-Fi sector was
            above $13 billion in 2020, 2,000% growth since 2019)
        </p>
    </div>
</div>

