<style>
    @import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

    .topCell h1 {
        color: white;
        font-family: 'Rock Salt', cursive;
        font-size: 70px !important;
        margin-top: 30px;
        margin-bottom: 140px;
    }

    .blueCell, .blackCell {
        max-width: 49%;
        min-width: 350px;
        padding-left: 30px;

        font-weight: bold;

        margin-bottom: 30px;
        padding-bottom: 30px;
    }

    .blueCell h1, .blackCell h1 {
        font-size: 35px;
    }

    .blueCell, .blueCell * {
        color: white;
        background-color: #0097CD;

    }

    .blackCell, .blackCell * {
        color: white;
        background-color: #000;
    }

    .blue {
        color: #0097CD !important;
    }

    .black {
        color: #000 !important;
    }


</style>

<div class="card_clear blueCell">

    <div class="card_body topCell">
        <h1>Timing</h1>
    </div>
    <div class="card_body ">
        <h1>Obsolescence</h1>
        <img src="{{ site.baseurl }}/images/chalkLine.png">
        <p>FIs need to improve their proposition and reduce
            cost and complexity of their legacy infrastructure
            to prevent being overtaken by new entrants!
        </p>
        <p class="black">
            (the global fintech market is predicted annual
            growth rate of ~25% until 2022, to $309.98Bn)
        </p>
    </div>
</div>


<div class="card_clear blackCell">

    <div class="card_body">
        <h1>Disruption</h1>

        <img src="{{ site.baseurl }}/images/chalkLineW.png">
        <p>FIs need to adapt to new business models like BNPL and
            technologies like blockchain to stay relevant!
        </p>
        <p class="blue">
            (the global BNPL market is currently estimated at $2Tr
            and the total volume locked in the De-Fi sector was
            above $13 billion in 2020, 2,000% growth since 2019)

        </p>
    </div>

    <div class="card_body">
        <h1>Compliance</h1>

        <img src="{{ site.baseurl }}/images/chalkLineW.png">
        <p>FIs need to adapt to new business models like BNPL and
            technologies like blockchain to stay relevant!
        </p>
        <p class="blue">
            (the global BNPL market is currently estimated at $2Tr
            and the total volume locked in the De-Fi sector was
            above $13 billion in 2020, 2,000% growth since 2019)
        </p>

    </div>
</div>

