
<div class="card 8 text_only ">
    <div class="card_title blue" >
        <p>Fast</p>
    </div>
    <div class="card_body">
        Developer first mindset, agile delivery, CI/CD approach fosters a culture of speed to market and innovation
    </div>
</div>

<div class="card 9 text_only">
    <div class="card_title blue">
        <p>Secure</p>
    </div>
    <div class="card_body">
        Explore alternate business models and offer new products through fully interoperable payment types, open/closed loops and business processes
    </div>
</div>

<div class="card 10 text_only">
    <div class="card_title blue">
        <p>Flexible</p>
    </div>
    <div class="card_body">
        Single open API, modular feature set and dedicated sandbox allows for flexibility, optionality and seamless
        integration
    </div>
</div>

<div class="card 11 text_only">
    <div class="card_title blue">
        <p>Resilient</p>
    </div>
    <div class="card_body">
        Multi-cloud, multi-geography solution provides 99.999% uptime and resilience. Built in Kubernetes to provide
        infinite scalability
    </div>
</div>

