<h2 style="color: #0097CD">Rayvn provides an intelligent and data rich messaging platform that enables
    FIs to create innovative, competitive and compliant business models</h2>

<style>
    .product img {
        height: 100px;
    }

    .product h3 {
        margin-top: 0;
    }

    .product {
        margin-bottom: 20px;
    }

</style>
<div class="card_clear">
    <div class="row product">
        <div class="column-slim-icon">
            <img src="{{ site.baseurl }}/images/iso20022.png"/>
        </div>
        <div class="column">
            <h3>ISO20022 Gateway</h3>
            <ul>
                <li>A single structured data standard that allows FIs to talk to all existing banking and payments data
                    protocols.
                </li>
                <li>The only one of its kind to connect traditional banking data language with blockchain.</li>
            </ul>
        </div>
    </div>

    <div class="row product">
        <div class="column-slim-icon">
            <img src="{{ site.baseurl }}/images/Homomorphic.png"/>
        </div>
        <div class="column">
            <h3>Homomorphic Encrypted Messaging Bus</h3>
            <ul>
                <li>World's first financial messaging platform that uses homomorphic encryption, offering unmatched
                    level of security.
                </li>
                <li>Perform computations on the encrypted data without first decrypting it, creating unique message
                    transmission technology.
                </li>
            </ul>
        </div>
    </div>


    <div class="row product">
        <div class="column-slim-icon">
            <img src="{{ site.baseurl }}/images/unidatalake.png"/>
        </div>
        <div class="column">
            <h3>Unified Data Lake and Single Customer View</h3>
            <ul>
                <li>A real time data lake using all the data transmitted/converted using the platform.</li>
                <li>Ability to create easy to analyse single customer view by consuming data from client's existing
                    systems.
                </li>
            </ul>
        </div>
    </div>


    <div class="row product">
        <div class="column-slim-icon">
            <img src="{{ site.baseurl }}/images/VAdataprod.png"/>
        </div>
        <div class="column">
            <h3>Value Added Data Products</h3>
            <ul>
                <li>Powered by enhanced, innovative data products that use automation, AI and ML to streamline
                    back-office processes.
                </li>
                <li>Examples include: inflight fraud monitoring, payment investigation, recalls/refunds, improved
                    decisioning systems, etc.
                </li>
            </ul>
        </div>
    </div>

</div>