<div class="row">
    <div class="column">
        <div class="row"><h2>Unmatched Speed.</h2></div>
            <div class="row"><h2>Impeccable Resilience.</h2></div>
            <div class="row"><h2>Unparalleled Security.</h2></div>
    </div>

    <div class="column">
        <p>
          We imagine a world where FIs can offer their customers flexible, interoperable, and channel-agnostic products
            without worrying about currencies, payment schemes, geographies, and technologies.
        </p>
        <p>
          Our vision is to enable financial institutions worldwide to innovate, grow and scale using standardised,
            structured messaging platform and data products that remove friction from their infrastructure.

        </p>

        <p>
                <a href="{{ site.baseurl }}/vision" class="ghost-button-rounded-corners">
                  <span>Learn More</span>
                </a>
        </p>
    </div>
</div>