  .row {
    display: flex;
  }

  .column-slim {
    flex: 35%;
    width: 250px;
    margin:  0px 0px 0px 25px;
  }

  .column {
    flex: 50%;
    width: 300px;
    margin:  0px 0px 0px 25px;
  }

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }