.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  background: #FFF;
  margin: 30px auto;
  min-width: 300px;
  max-width: 350px;
  border-radius: 15px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.15), -5px -5px 30px 7px rgba(0,0,0,0.12);
  transition: 0.2s;
}

.cardFW {
  background: #FFF;
  margin: 30px 22px;
  width: 100% ;
  border-radius: 15px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.15), -5px -5px 30px 7px rgba(0,0,0,0.12);
}

.card_clear{
  background: #FFF;
  text-align: left ;
  width: 100% ;
}

.card .card_image {
  width: inherit;
  border-radius: 15px;
}

.card hr {
  width: 80%
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 15px;
  object-fit: cover;
  padding: 10% 10% 0 10%;

}

.card .card_title , .cardFW .card_title , .card_clear .card_title {
  text-align: center;
  border-radius: 0 0 30px 30px;
  font-family: $helveticaNeue;
  font-weight: bold;
  font-size: 25px;
}

.cardFW .card_title , .card_clear .card_title {
  text-align: left;
  padding: 30px 30px 0 30px;
}

.card_title p {
  margin: 0;
}

.card_body{
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;

  text-align: center;
}

.card_clear .card_body {
  text-align: left;
}

.cardFW .card_body{
  padding: 0 30px 30px 30px;
  text-align: left ;
}



.text_only {
  padding-top: 15px;
}

.title-white {
  color: white;
}

.white {
  background: white;
}

.title-black {
  color: black;
}

.blue {
  color: $blue;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

.ghost-button-rounded-corners {
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: $blue;
  border: 1px solid $blue;
  border-radius: 5px;
  text-align: center;
  outline: none;
  text-decoration: none;
}
.ghost-button-rounded-corners:hover,
.ghost-button-rounded-corners:active {
  background-color: $blue;
  color: #FFF;
}