<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/home.png" />

    <script>
      /*to prevent Firefox FOUC, this must be here*/
      let FF_FOUC_FIX;
    </script>
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <div>
            <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>
          </div>
          <div class="site-info">
            <a href="{{ site.baseurl }}/" class="site-name">{{ site.description }}</a>
          </div>
          <nav>
                <a href="{{ site.baseurl }}/problem">The Problem</a>
                <a href="{{ site.baseurl }}/product">The Product</a>
                <a href="{{ site.baseurl }}/vision">The Vision</a>
                <a href="{{ site.baseurl }}/blog">Blog</a>
                <a href="{{ site.baseurl }}/get-started" class="ghost-button-rounded-corners">
                  <span>Get Started</span>
                </a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          <div class="row">
            <div class="column" style="text-align: left;">


              <h3><img src = "{{ site.baseurl }}/images/home.png" style="height:32px; width: 32px;"/>Rayvn</h3>
              <p>
                <br />123-456-7890
                <br />Info@mysite.com
                <br />500 Terry Francois St 
                <br />San Francisco, CA 94158
              </p>
            </div>
            <div class="column">
              {% include svg-icons.html %}
            </div>
          </div>
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
